@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

.text-black {
  color: #000000;
}

.text-main {
  color: #ff1500;
}

.text-secondary {
  color: #1E1E1E !important;
}

.btn-call-to-action {
  background-color: #ff1500;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
}
.btn-call-to-action:before {
  color: black !important;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
  transition: left 0.5s;
}
.btn-call-to-action:hover {
  color: black !important;
  border: solid #ff1500 1px;
}
.btn-call-to-action:hover:before {
  left: 0;
  color: black !important;
}
.btn-call-to-action span {
  position: relative;
  z-index: 1;
  color: inherit;
}

.btn-call-to-action-2 {
  background-color: #ff1500;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  transition: color 0.8s;
}
.btn-call-to-action-2:hover {
  background-color: white;
  color: #ff1500;
  border: solid 1px #ff1500;
}

.wa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  width: 70px;
  height: 70px;
}
.wa img {
  width: 100%;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 24px;
  z-index: 300;
}
.menu .fs-6 {
  font-size: 0.9em !important;
}
.menu a {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 320;
  color: black !important;
  transition: background-size 0.3s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
}
.menu a:hover {
  color: #ff1500 !important;
  background-size: 100% 2px;
}
.menu a:active {
  background-color: transparent;
}
.menu .navbar-brand:hover {
  background-image: none !important;
  background-size: auto;
}

.navbar-expand-lg .navbar-nav {
  align-items: center !important;
}

.card {
  background: linear-gradient(180deg, #F8F8F6 0%, #d5d5d5 100%);
}
.card h2.card-title {
  text-transform: uppercase;
  font-size: 1em;
  white-space: nowrap !important;
  font-size: 1em !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}
.card img.w-100.card-img-top {
  height: 345px;
  object-fit: cover;
}

.banner {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.itemDetail ul {
  list-style: none;
  padding-left: 4px !important;
}
.itemDetail .img-details {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px black;
  transition: all 0.6s ease;
}
.itemDetail .img-details:hover {
  cursor: pointer;
  border: solid red 1px;
  filter: brightness(30%);
}
.itemDetail .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-template-areas: "fot1 fot2 fot3" "fot1 fot4 fot5";
  gap: 2px;
  margin-bottom: 50px;
}
@media (width < 768px) {
  .itemDetail .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: "fot1" "fot2" "fot3" "fot4" "fot5";
  }
}
.itemDetail .f-1 {
  grid-area: fot1;
}
.itemDetail .f-2 {
  grid-area: fot2;
}
.itemDetail .f-3 {
  grid-area: fot3;
}
.itemDetail .f-4 {
  grid-area: fot4;
}
.itemDetail .f-5 {
  grid-area: fot5;
}

/* Lightbox Close Button */
.lightbox {
  position: relative;
}

.lightbox-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: light;
  border: none;
  color: rgb(41, 40, 40);
  cursor: pointer;
  z-index: 1000;
  border: none;
}
.lightbox-close:hover {
  background-color: transparent;
}

/*# sourceMappingURL=main.css.map */
