@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*{
    font-family: "Lato", sans-serif;
}

// vars
$mainFont:"Lato", sans-serif;

// colors
$mainColor:#ff1500;
$secondaryColor:#1E1E1E;
$thirdColor:rgb(155, 152, 152);
$black:#000000;
$white:white;

// texts
.text-black{
    color: $black;
}
.text-main{
    color: $mainColor;
}
.text-secondary{
    color: $secondaryColor!important;
}

// btns
.btn-call-to-action{
    background-color: $mainColor;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: color 0.5s; 

    &:before {
        color:black!important;
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 0;
        transition: left 0.5s; 
    }

    &:hover {
        color:black!important; 
        border: solid $mainColor 1px;

        &:before {
            left: 0;
            color:black!important;
        }
    }

    span {
        position: relative;
        z-index: 1;
        color: inherit; // Para asegurarnos de que el color se hereda correctamente
    }
}

.btn-call-to-action-2{
    background-color: $mainColor;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: color .8s; 
    &:hover{
        background-color:$black;
        color: $white;
    }
}
// btn outline
.btn-call-to-action-3 {
    background-color: transparent; /* Fondo transparente */
    color: $mainColor; /* Texto rojo */
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $mainColor; /* Borde rojo */
    border-radius: 4px;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: color 0.5s, background-color 0.5s; /* Animaci贸n para color y fondo */

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $mainColor; /* Fondo rojo para la animaci贸n */
        z-index: 0;
        transition: left 0.5s;
    }

    &:hover {
        color: $white; /* Cambia el color del texto a blanco */

        &:before {
            left: 0; /* Mueve el fondo hacia la vista */
        }

        span {
            color: inherit; /* Asegura que el texto herede el color del bot贸n */
        }
    }

    span {
        position: relative;
        z-index: 1;
        color: inherit; /* Hereda el color inicial del bot贸n */
        transition: color 0.5s; /* Suaviza el cambio de color */
    }
}

// btn main
.btn-main{
    background-color: $mainColor;
    color: $white;
    padding: 8px;
    border-radius: 10px;
}
// wa
.wa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 500;
    width: 70px;
    height: 70px;
    img{
        width: 100%;
    }
}
// footer
footer{
    a{
        color: white;
        text-decoration: none;
    }
}