.itemDetail{
    ul{
        list-style: none;
        padding-left: 4px!important;
    }
    .img-details{
        width: 350px; 
        height: auto; 
        // clip-path: inset(20% 10% 20% 10%); /* Recorta un 10% desde cada lado */
        object-fit: cover; 
        transition: all 0.6s ease;
        transform: translate(-40px, -100px);
        &:hover{
            cursor: pointer;
            border:solid red 1px;
            filter: brightness(30%);
        }
        @media (width<=768px){
            transform: none;
        }
    }
    // .grid{
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     grid-template-rows: auto;
    //     grid-template-areas: "fot1" "fot2" "fot3" "fot4" "fot5";
    //     margin-bottom: 50px;
    //     @media (width < 768px){
    //         grid-template-columns: 1fr;
    //         grid-template-rows: repeat(5,300px);
    //         grid-template-areas: "fot1" "fot2" "fot3" "fot4" "fot5";
    //     }
    // }
    // .f-1{
    //     grid-area: fot1;
    // }
    // .f-2{
    //     grid-area: fot2;
    // }
    // .f-3{
    //     grid-area: fot3;
    // }
    // .f-4{
    //     grid-area: fot4;
    // }
    // .f-5{
    //     grid-area: fot5;
    // }
}

/* Lightbox Close Button */
.lightbox {
    position: relative;
    img{
        width: 400px;
    }
}
  
.lightbox-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: light;
    border: none;
    color: rgb(41, 40, 40);
    cursor: pointer;
    z-index: 1000;
    border: none;
    &:hover{
        background-color: transparent;
    }
}
