.card{
    background: linear-gradient(180deg, #F8F8F6 0%, #d5d5d5 100%);
    h2.card-title{
        text-transform: uppercase;
        font-size: 1em;
    }
}
.banner{
    width: 100%;
    height: 60vh;
    object-fit:cover;
}